services:
  backend:
    container_name: khata_book_container
    build:
      context: ./
    ports:
      - "${BACKEND_PORT}:8000"       
    env_file:
      - .env
    environment:
      - PORT=${BACKEND_PORT}
      - DATABASE_URL=${DATABASE_URL_DOCKER}
    depends_on:
      - db
    volumes:
      - ./:/app
      - /app/node_modules

  db:
    image: postgres:15
    container_name: postgres_container
    restart: always
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data


volumes:
  postgres_data:
